@import url('https://huudinh.github.io/assets/sass/lib.min.css');
@import url('https://huudinh.github.io/assets/sass/icon.min.css');
@import url('https://huudinh.github.io/assets/fonts/fontello.woff2');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300&display=swap');
@font-face {
  font-family: 'fontello';
  src: url(https://huudinh.github.io/assets/fonts/fontello.woff2) format('woff2');
}

.form {
  margin: 25vh auto;
  max-width: 340px;
  width: 100%;

  &Link {
    padding: 12px;
    font-size: 12px;
    font-style: italic;
    cursor: pointer;
    text-align: center;
    color: #d4a351;
  }
}
.form__logo {
  display: block;
  margin: 15px auto;
  width: 200px;
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

h2 {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 14px;
  margin-top: 10px;
  text-transform: uppercase;
  color: #5d87ff;
}

table {
  font-size: 14px;
}

tr {
  &:first-child {
    font-weight: 600;
    font-size: 16px;
    background-color: #648cff;
    color: #fff;
  }
}

td {
  text-align: center;
}

label {
  margin: 5px 0;
  font-size: 16px;
  font-weight: 600;
}

select {
  width: 100%;
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.container {
  width: 1720px;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (max-width: 1024px) {
  .container {
    width: 970px;
  }
  h2 {
    font-size: 20px;
  }
  tr {
    &:first-child {
      font-size: 15px;
    }
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 97%;
  }
}
@media (max-width: 425px) {
  .container {
    width: 100%;
  }
  h2 {
    font-size: 18px;
  }
}
@media (max-width: 390px) {
  label {
    font-size: 15px;
  }
}
@media (max-width: 375px) {
  h2 {
    font-size: 17px;
  }
}
