.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 115px;
  border-bottom: 1px solid #efefef;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  padding: 10px 22px 10px 0;
  margin: 20px 38px;
  border-radius: 8px;
  background: #fff;
}

.btnCheck {
  display: none;
}

.menu {
  display: flex;
  align-items: center;
  gap: 30px;

  p {
    margin: 0;
    font-size: 15px;
  }

  a {
    color: #fff;
    position: relative;
    padding: 24px 0;
    &:hover {
      text-decoration: none;
      color: #d4a351;
      ul {
        display: block;
        transition: ease 0.5s ease-in-out;
      }
    }
  }

  ul {
    display: none;
    background-color: #243648;
    position: absolute;
    top: 55px;
    left: -28px;
    width: 172%;
    padding: 18px 18px 8px;
    border-radius: 0 0 6px 6px;
    z-index: 20;
    li {
      list-style: none;
      &:first-child {
        padding-bottom: 10px;
      }
    }
  }
}

.user {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  position: relative;

  i {
    color: #000;
  }

  p {
    margin: 0;
    font-size: 15px;
    color: #000;
  }

  &:hover .user__dropdown {
    display: block;
    transition: all 0.2s linear;
  }
}

.user__dropdown {
  display: none;
  position: absolute;
  top: 108%;
  left: 8%;
  width: 150px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 8%);
  box-shadow: 0 5px 25px rgba(34, 41, 47, 0.1);
  padding: 0px 5px;
  text-align: left;
  z-index: 9;

  ul {
    padding: 0;
    margin: 10px 0px;
  }
}

.user__itemMenu {
  display: flex;
  align-items: center;
  gap: 8px;
  list-style: none;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  margin: 6px 0;
  cursor: pointer;
  transition: all 0.2s linear;
  font-size: 14px;
  border-bottom: 1px solid #eee;

  &:nth-child(3) {
    border-bottom: 0px;
  }

  &:hover {
    background: #f4f4f4;
    color: #5d87ff;

    a {
      color: #5d87ff;
    }
  }
}

@media (max-width: 1440px) {
  .header {
    gap: 60px;
    margin: 20px 32px;
  }
}
@media (max-width: 1280px) {
  .header {
    gap: 0px;
  }
}
@media (max-width: 1024px) {
  .header {
    gap: 300px;
    justify-content: space-between;
    padding: 0 10px;
    img {
      width: 8%;
    }
  }
  .btnCheck {
    display: block;
    width: 50px;
    height: 50px;
    padding: 14px 12px;

    span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 3px solid #5d87ff;
    }
  }
  .menu {
    display: none;
  }
  .user {
    i,
    p {
      color: #000;
    }
  }
}
@media (max-width: 820px) {
  .header {
    gap: 212px;
    img {
      width: 12%;
    }
  }
}
@media (max-width: 425px) {
  .header {
    gap: 100px;
    margin: 20px 16px;
    img {
      width: 22%;
    }
  }
  .user {
    i {
      font-size: 25px;
    }
    p {
      display: none;
    }
  }
  .user__dropdown {
    right: -35%;
    left: unset;
  }
  .user__itemMenu {
    i {
      font-size: 18px;
    }
  }
}
