.bookingList {
  border: 1px solid #f4f4f4;
  background: #fff;
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  border-radius: 8px;
  margin-top: 25px;
}

.icon {
  i {
    color: #ef1818;
    cursor: pointer;
    font-size: 18px;
  }
}

.text {
  margin: 0;
  color: #5d87ff;
  cursor: pointer;
  font-weight: 600;
}

.table__box1 {
  margin-bottom: 25px;
}

@media (max-width: 820px) {
  .bookingList {
    padding: 20px 25px;
  }
}
@media (max-width: 768px) {
  .bookingList {
    padding: 20px;
  }
}
@media (max-width: 425px) {
  .bookingList {
    margin-top: 22px;
  }
  .table__box2 {
    margin-top: 25px;
  }
}
